<div class="header clearfix">
    <nav class="nav nav-main">
        <ul>
            <li>
                <a href="/index.html" {% if active == 'index' %}class="active"{% endif %}>
                    Съдържание
                </a>
            </li>
            <li>
                <a href="/about.html" {% if active == 'about' %}class="active"{% endif %} %}>
                    За мен
                </a>
            </li>
        </ul>
    </nav>
</div>